/*
Description:
author: panchangzhi
date: 2016/11/28
*/
body, h1, h2, h3, h4, p, ul, li, figure, fieldset {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font: 12px/1.5 "Microsoft YaHei", Arial;
    background: #fff;
}

ol, ul {
    list-style: none
}

em, i, var {
    font-style: normal;
}

a:link, a:visited {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
    width: 100%;
    vertical-align: middle;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0
}

